html, body {
  padding: 0;
  margin: 0;
}
.App {
  text-align:center;
}
form {
  margin-bottom:30px;
}
.movieList {
    max-width:50%;
    margin:00 auto;
}
.movieList li {
  display:flex;
  text-align:left;
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
}
.movieList li:last-child {
  border-bottom: 0 solid;
}
.movieList li img {
  max-width:120px;
  margin-right:10px;
}
.movieList li h3 {
  margin-bottom:10px;
}
.movieList li h4 {
  margin:5px 0 20px 0;
}
.movieQueue {
  position:fixed;
  top:20px;
  right:20px;
  min-width:300px;
  max-height:90%;
  overflow:auto;
}
.torrentButton {
  background-color: #66ccff;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right:5px;
  color:#fff;
  display:inline-block;
  text-decoration:none;
  text-align:center;
}
.torrentButton span {
  font-size: .7em;
  display:block;
  color:#cceeff;
}
.torrentButton:hover {
  background-color:#1ab2ff;
}
